<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de Produto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/editarProduto.css') }}">
</head>
<body>
    <h1 class="h1-1">page de edição de produtos</h1>
    <main>
        <form method="post" action="/editarProduto/{{produto[0]}}" class="row g-3" id="rowg3">

            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Produto</label>
              <input type="text" class="form-control" id="inputEmail4" value="{{produto[1]}}">
            </div>
    
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Marca</label>
              <input type="text" class="form-control" id="inputPassword4" value="{{produto[2]}}">
            </div>
    
            <div class="col-12">
              <label for="inputAddress" class="form-label">Valor</label>
              <input type="text" class="form-control" id="inputValor" value="{{produto[3]}}">
            </div>
    
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Quantidade</label>
              <input type="text" class="form-control" id="inputQuantidade" value="{{produto[4]}}">
            </div>
            
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" value="Editar">Editar</button>
            </div>
          </form>
    </main>
    

    <form method="post" action="/editarProduto/{{produto[0]}}">

        <label for="nomeProduto">Produto</label>
        <input type="text" id="pnome" name="pnome" value="{{produto[1]}}">

        <label for="nomeMarca">Marca</label>
        <input type="text" id="pmarca" name="pmarca" value="{{produto[2]}}">

        <label for="valor">Valor</label>
        <input type="number" id="pvalor" name="pvalor" value="{{produto[3]}}">

        <label for="quantidade">Quantidade</label>
        <input type="number" id="pqtd" name="pqtd" value="{{produto[4]}}">

        <input type="submit" value="Editar">

    </form>

    <a href="{{ url_for('home' ) }}">HOME</a>

</body>
</html>