<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA DE PRODUTOS</title>
</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>NOME</td>
            <td>MARCA</td>
            <td>VALOR</td>
            <td>QUANTIDADE</td>
            <td>OPÇÕES</td>
        </tr>
        {% for row in produtos %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>
                <div class="opc-buttons">
                    <a href="{{ url_for('deletarProduto', id=row[0]) }}" id="del">DELETAR</a>
                    <a href="{{ url_for('editarProduto', id=row[0]) }}" id="edit">EDITAR</a>
                </div>
            </td>
        </tr>

        {% endfor %}

    </table>

    <img src="{{url_for('static', filename='hulkdance.gif')}}" alt="" srcset="">

</body>
</html>