<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PÁGINA DE LOGIN PARA ADMNISTRADOR</title>
</head>
<body>
    <h1>LOGIN DE ADMINISTRADOR</h1>

    <form method="POST">
        
        <label for="Email" name="emailAdm">Email:</label>
        <input type="text" name="emailAdm" required><br>
        <label for="Senha" name="senha">Senha:</label>
        <input type="text" name="senha" required><br>
        <input type="submit" value="entrada">
        
    </form>

    <img src="{{url_for('static', filename='penguin-dance.gif')}}" alt="" srcset="">
</body>
</html>